RESEND_API_KEY=
CONTACT_EMAIL_TO=
BOOKING_EMAIL_TO=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=251904222223
NEXT_PUBLIC_PHONE=+251904222223
NEXT_PUBLIC_GOOGLE_MAPS_EMBED_URL=https://maps.google.com/maps?q=Jemo%201%20Addis%20Ababa&t=&z=15&ie=UTF8&iwloc=&output=embed
RESEND_FROM_EMAIL=Yehin Shado Hotel <onboarding@resend.dev>
